* {
  margin: 0;
  padding: 0;
  border: border-box;
}

body {
  background-color: #B22222; /* Verde suave */
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  font-family: "Lato", serif;
  font-weight: 400;
}

#inicio img {

}

#inicio {
  display: flex;
  font-family: "Roboto", serif;

}

#inicio h1 {
  margin-top: 140px;
  font-size: 3.5rem;
  color: white; /* Vermelho Natalino */
}



#principal {
  background-color: #FFFAF0; /* Branco suave (creme) */
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  color: #008000; /* Verde Natalino */
  font-size: 20px;
  padding: 35px;
  width: 100vw;
}

#principal input {
  height: 3rem;
  width: 30rem;
  border: 2px solid #B22222; /* Bordas vermelhas */
  border-radius: 20px;
  padding: 0 10px;
}

ul {
  list-style: none;
  color: #008000; /* Verde Natalino */
}

section button:hover {
  background-color: #008000; /* Verde Natalino para hover */
}
button {
  padding: 1px 1px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  width: 150px;
  height: 50px;
  border-radius: 45px;
  border: none;
  background-color: #B22222; /* Vermelho Natalino */
  color: white;
}

button:hover {
  background-color: #8B0000; /* Vermelho escuro para hover */
}

#sort-button{
  width: 200px;
}