* {
  margin: 0;
  padding: 0;
  border: border-box;
}

body {
  background-color: #b22222; /* Verde suave */
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  font-family: "Lato", serif;
  font-weight: 400;
}

#inicio img {
}

#inicio {
  display: flex;
  font-family: "Roboto", serif;
}

#inicio h1 {
  margin-top: 140px;
  font-size: 3.5rem;
  color: white; /* Vermelho Natalino */
}

#principal {
  background-color: #fffaf0; /* Branco suave (creme) */
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  color: #008000; /* Verde Natalino */
  font-size: 20px;
  padding: 35px;
  width: 100vw;
}

#principal input {
  height: 3rem;
  width: 30rem;
  border: 2px solid #b22222; /* Bordas vermelhas */
  border-radius: 20px;
  padding: 0 10px;
}

ul {
  list-style: none;
  color: #008000; /* Verde Natalino */
}

section button:hover {
  background-color: #008000; /* Verde Natalino para hover */
}
button {
  padding: 1px 1px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  width: 150px;
  height: 50px;
  border-radius: 45px;
  border: none;
  background-color: #b22222; /* Vermelho Natalino */
  color: white;
}

button:hover {
  background-color: #8b0000; /* Vermelho escuro para hover */
}

#sort-button {
  width: 200px;
}

/* Media Queries para dispositivos menores */
@media (max-width: 768px) {
  #inicio h1 {
    font-size: 2rem; /* Tamanho do título menor em telas pequenas */
  }

  #principal {
    width: 95vw; /* Reduz a largura para telas pequenas */
    padding: 20px;
  }

  #principal input {
    width: 90%; /* Ajusta o tamanho do input */
  }

  section button {
    width: 90%; /* Ajusta a largura do botão */
  }

  #inicio img {
    height: 100px; /* Tamanho da imagem menor em telas pequenas */
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }


}

@media (max-width: 480px) {
  #inicio h1 {
    font-size: 1.5rem; /* Tamanho ainda menor do título */
    margin-bottom: 50px;
  }

  #principal {
    padding: 15px; /* Menos padding em telas muito pequenas */
  }

  #principal input {
    width: 100%; /* Input ocupa toda a largura em telas muito pequenas */
  }

  section button {
    width: 100%; /* Botão ocupa toda a largura em telas muito pequenas */
  }

  #inicio img {
    height: 80px; /* Reduz ainda mais o tamanho da imagem */
  }
}
